@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
section#the-rape-of-lucrece-argument{
	page-break-after: always;
}

/* epigraph */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

article > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* end epigraph */

/* dedication */
header p[epub|type~="dedication"]{
	text-align: center;
	font-variant: small-caps;
}
/* end dedication */

/* dedication letter */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
}
/* end dedication letter */

/* poem */
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

span#elision{
	margin: .5em;
	margin-left: 3em;
}
/* end poem */
