@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article{
	page-break-after: always;
}

/* epigraph */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

article > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* end epigraph */

/* dedication */
header p[epub|type~="dedication"]{
	text-align: center;
	font-variant: small-caps;
}

header blockquote p{
	text-align: left;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

header p[epub|type~="z3998:valediction"],
header p.signature{
	margin-top: 1em;
	text-align: right;
}

p[epub|type~="z3998:valediction"] + p.signature{
	margin-top: 0;
}

.signature{
	font-variant: small-caps;
}
/* end dedication */

/* poem */
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end poem */
